.panda-container {
  overflow: hidden;
  background: #abd583;
  width: 420px;
  height: 320px;
  position: relative;
  transform: scale(0.7);
}

.panda-container .panda {
  position: absolute;
  width: 150px;
  height: 180px;
  left: 50%;
  bottom: 40%;
  transform: translate(-50%, 98px) translateX(20px);
}
.panda-container .body {
  position: absolute;
  width: 95px;
  height: 100px;
  /*   border: 2px solid #333; */
  background: #333;
  top: 80px;
  left: 5px;
  border-radius: 30% 70% 30% 30% / 70% 70% 30% 30%;
}
.panda-container .belly {
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  overflow: hidden;
}
.panda-container .belly:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 57px;
  background: #fff;
  border-radius: 50% 50% 30% 30% / 30% 30% 40% 40%;
  right: 0;
  bottom: 0;
}
.panda-container .leg {
  position: absolute;
  width: 70px;
  height: 30px;
  left: 25px;
  bottom: -2px;
  background: #333;
  border-radius: 15px 55px 50px 15px / 50% 60% 5px 50%;
}
.panda-container .foot {
  position: absolute;
  width: 16px;
  height: 32px;
  background: #333;
  right: -6px;
  bottom: 1px;
  border-radius: 60% 40% 4px 60% / 20px 8px 4px 2px;
}
.panda-container .leg.left {
  left: 35px;
  bottom: 5px;
}
.panda-container .arm,
.panda-container .hand,
.panda-container .forearm {
  position: absolute;
  width: 30px;
  height: 60px;
  background: #333;
  border-radius: 50% 50% / 15px;
  transform-origin: 50% 15px;
}
.panda-container .forearm,
.panda-container .hand {
  top: calc(100% - 30px);
}
.panda-container .arm {
  top: 14px;
  height: 60px;
}
.panda-container .hand {
  height: 50px;
}
.panda-container .hand:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
}
.panda-container .arm.left {
  top: 0;
  left: 30px;
  transform: rotate(-70deg);
}
.panda-container .arm.right {
  left: 10px;
  transform: rotate(-60deg);
}
.panda-container .arm.right .forearm {
  transform: rotate(-20deg);
}
.panda-container .arm.right .hand {
  transform: rotate(-20deg);
}
.panda-container .arm.left .forearm {
  transform: rotate(-40deg);
}
.panda-container .arm.left .hand {
  transform: rotate(-20deg);
}
.panda-container .head {
  position: absolute;
  background: #fff;
  width: 110px;
  height: 100px;
  bottom: 85%;
  left: -6%;
  border-radius: 50% 50% 40px 45px / 50% 50% 35% 35%;
}
.panda-container .head.front {
  background: transparent;
  overflow: hidden;
}
.panda-container .face {
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
}
.panda-container .eye {
  position: absolute;
  width: 40px;
  height: 22px;
  background: #333;
  border-radius: 50%;
  top: 40px;
}
.panda-container .eye:after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  background: #393939;
  border-radius: 50%;
  top: 36%;
}
.panda-container .eye.right {
  right: 43%;
  transform: rotate(-50deg);
}
.panda-container .eye.right:after {
  right: 15px;
}
.panda-container .eye.left {
  right: 3%;
  transform: rotate(50deg);
}
.panda-container .eye.left:after {
  left: 15px;
}
.panda-container .ear {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #333;
  border-radius: 50%;
}
.panda-container .ear.left {
  top: -2px;
  left: 2px;
}
.panda-container .ear.right {
  top: -2px;
  right: 2px;
}

.panda-container .nose {
  position: absolute;
  width: 18px;
  height: 10px;
  top: 70%;
  left: 50%;
  background: #333;
  border-radius: 50% / 30% 30% 70% 70%;
}
.panda-container .nose:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
}
.panda-container .mustache {
  position: absolute;
  content: "";
  width: 10px;
  height: 6px;
  border: 2px solid #333;
  background: #fff;
  border-top: 0;
  border-radius: 0 0 50% 50% / 0 0 60% 60%;
  top: 95%;
}
.panda-container .mustache.left {
  right: 48%;
  border-left: 2px solid transparent;
}
.panda-container .mustache.right {
  left: 48%;
  border-right: 2px solid transparent;
}
.panda-container .mouth {
  position: absolute;
  width: 18px;
  height: 20px;
  bottom: 0px;
  left: 50%;
  box-sizing: border-box;
  border-bottom: 14px solid #fff;
}
.panda-container .mouth:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: 2px solid #555;
  border-top: 0;
  border-radius: 0 0 3px 3px;
  box-sizing: border-box;
}
.panda-container .bamboo {
  position: absolute;
  font-size: 0;
  width: 14px;
  box-sizing: border-box;
  transform-origin: 50% 100%;
}
.panda-container .bamboo.joint2 {
  height: 166px;
}
.panda-container .bamboo .joint {
  position: relative;
  background: #60bc67;
  width: calc(100% - 6px);
  height: 80px;
  margin: auto;
}
.panda-container .bamboo .joint:first-child {
  margin-top: 3px;
}
.panda-container .bamboo .joint:before,
.panda-container .bamboo .joint:after {
  position: absolute;
  content: "";
  width: calc(100% + 3px);
  height: 6px;
  border-radius: 3px;
  background: #509d56;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.panda-container .bamboo .joint:before {
  top: 0%;
}
.panda-container .bamboo .joint:after {
  top: 100%;
}
.panda-container .leaf {
  position: absolute;
  width: 21px;
  height: 43px;
  transform-origin: 50% 100%;
  bottom: 0;
}
.panda-container .leaf:before {
  content: "";
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 100% 0;
  background: #509d56;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.panda-container .leaf.light:before {
  background: #60bc67;
}
.panda-container .leaf.right {
  left: -5px;
  transform: rotate(45deg) scaleX(0.7);
}
.panda-container .leaf.right30 {
  transform: rotate(30deg) scaleX(0.7);
}
.panda-container .leaf.right60 {
  transform: rotate(60deg) scaleX(0.7);
}
.panda-container .leaf.left {
  right: -5px;
}
.panda-container .leaf.left30 {
  transform: rotate(-30deg) scaleX(0.7);
}
.panda-container .leaf.left60 {
  transform: rotate(-60deg) scaleX(0.7);
}
.panda-container .leaf.left90 {
  transform: rotate(-90deg) scaleX(0.7);
}

.panda-container .hand .bamboo {
  bottom: -40px;
  right: 50%;
  transform: translate(-50%) rotate(-90deg);
  transform-origin: 50% calc(100% - 55px);
  overflow: hidden;
}

.panda-container .bamboo1 {
  bottom: 40%;
  right: 50%;
  z-index: 0;
  transform: translate(-98px, 68px);
  z-index: 0;
}
.panda-container .bamboo-group {
  position: absolute;
  bottom: 40%;
}
.panda-container .bamboo-group .bamboo {
  bottom: 0;
}
.panda-container .bamboo-group .bamboo:nth-child(1) {
  left: 0px;
  transform: rotate(0deg);
}
.panda-container .bamboo-group .bamboo:nth-child(2) {
  left: 15px;
  transform: rotate(4deg);
}
.panda-container .bamboo-group .bamboo:nth-child(3) {
  left: 30px;
  transform: rotate(8deg);
}

.panda-container .bamboo-group1 {
  left: 50%;
  width: 80px;
  transform: translate(110px, 70px);
}
.panda-container .bamboo-group2 {
  right: 50%;
  width: 80px;
  transform: translate(-116px, 66px) scaleX(-1);
}

.panda-container .bamboo-group3 {
  left: 50%;
  width: 80px;
  transform: translate(112px, 66px) scale(0.9) rotate(1deg);
  z-index: -1;
}
.panda-container .bamboo-group4 {
  right: 50%;
  width: 80px;
  transform: translate(-122px, 66px) scale(0.9) scaleX(-1) rotate(1deg);
  z-index: -1;
}

.panda-container .bamboo-group4 .bamboo:nth-child(4) {
  left: -24px;
}
.panda-container .dark .joint:before,
.panda-container .dark .joint:after,
.panda-container .dark .leaf:before {
  background: #5b8224;
}
.panda-container .dark .joint,
.panda-container .dark .leaf.light:before {
  background: #649126;
}
